<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    注意：本配置中的路径都是指相对于此Exe(tableGUI.exe)的路径，并不是绝对路径
    因为策划没有客户端的工程权限，所以编译后的tml和代码默认保存在策划目录下。
    如果要把编译后的代码和表拷贝到客户端，可以使用拷贝功能或修改路径配置
    -->
    <!--编译后的表格式-->
    <add key="TmlExtensions" value=".k" />

    <!--是否使用绝对路径;true:所有路径都是绝对的,完整路径;false:所有路径是相对于此exe的-->
    <add key="UseAbsolutePath" value="false"/>

    <!--excel源文件路径-->
    <add key="srcExcelPath" value=".\..\Src\" />

    <!--excel编译后的tml保存路径-->
    <add key="GenTmlPath" value=".\..\client_setting\" />

    <!--excel生成的C#代码保存路径-->
    <add key="GenCodePath" value=".\..\client_code\" />

    <!--客户端读表代码路径-->
    <add key="dstClientCodePath" value=".\..\..\..\client\trunk\Project\Assets\Scripts\AppSettings\" />

    <!--客户端项目tml路径[相对路径]-->
    <add key="dstClientTmlPath" value=".\..\..\..\client\trunk\\Product\Config\" />

  </appSettings>
</configuration>